textarea{
    background-color: #eee;
    color: #000;
    font-family: consolas, "courier new";
}

#src {
    display: none;
}

#output{
    background-color: #ccc;
    color: #000;
    padding: 5px;
}

.output-text{
    font-family: arial;
}

.editor{
    font-family: consolas, courier;
    white-space: pre;
    font-size: 12px;
    color: #550;
    background-color: #eee;
    padding: 0.5em;
}

.line_nums {
    background-color: #fff;
    color: #000;
    font-family: consolas, courier;
    padding-top: 4px;
    padding-right: 6px;
}